<div class="container-fluid" style="margin-top:90px">
  
  <div class="row">
    <div class="col-md-3">
      <h1>SOBODAYCOM</h1>
    </div>
    <div class=" col-md-9">
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa vel tenetur, 
          et deserunt sint, illum quae consequatur fugiat, ut architecto autem neque! 
          et deserunt sint, illum quae consequatur fugiat, ut architecto autem neque! 
          Atque consectetur, praesentium tempora illo provident laborum magni?</p>
      </div>
      <div class="row">
        <div class="col">
          <h4 class="text-center">PLANILLA DE EJECUCION </h4>
        </div>
      </div>  
      <div class="row">
        <div class="col-md-5">
            <input type="text" 
            class="form-control"
            placeholder="N° fact/tipo"
            required>
        </div>
        <div class="col-md-3 ml-auto">
            <h4>N° 027113</h4>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Formulario -->

  <div class=" row animated fadeIn faster mt-3">
    <div class="container">

      <form class="form">
        <div class="form-group row">
          <div class="col-md-6">
            <label>ARTISTA o GRUPO:</label>
            <input class="form-control" id="" type="text">
          </div>
          <div class="col-md-4">
            <label>Ciudad:</label>
            <input class="form-control" id="" type="text">
          </div>
          <div class="col-md-2">
            <label>Fecha:</label>
            <input class="form-control" id="" type="text">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label>Nombre Evento:</label>
            <input class="form-control" id="" type="text">
          </div>
          <div class="col-md-6">
            <label>Lugar Evento:</label>
            <input class="form-control" id="" type="text">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label>Director/Responsable:</label>
            <input class="form-control" id="" type="text">
          </div>
          <div class="col-md-2">
            <label>Telefono:</label>
            <input class="form-control" id="" type="text">
          </div>
          <div class="col-md-4">
            <label>Direccion:</label>
            <input class="form-control" id="" type="text">
          </div>
        </div>

        <hr>

        <div class="form-group">
          <h4 class="text-center">Declaracion Jurada</h4>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa vel tenetur, 
                et deserunt sint, illum quae consequatur fugiat, ut architecto autem neque! 
                et deserunt sint, illum quae consequatur fugiat, ut architecto autem neque! 
                Atque consectetur, praesentium tempora illo provident laborum magni?
            </p>
          </div>
        </div>

        <hr>


        <div class="table-sm">
            <div class="table-responsive-sm">
              <table class="table mt-3 animated fadeIn faster ">
                <thead class="thead-dark ">
                  <tr>
                    <th scope="col">N° cancion</th>
                    <th scope="col">Titulo - Tema</th>
                    <th scope="col">Autor / Compositor</th>
                    <th scope="col">N° cancion</th>
                    <th scope="col">Otros datos - Album</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <hr>
          
          <div class="form-group">
              <div class="form-group">
                  <label>Observaciones:</label>
                  <textarea class="form-control" rows="5"></textarea>
              </div>
              
              <button class="btn btn-success">
                <i class="fa fa-save"> Enviar Formulario</i>
              </button>
          </div>

          
      </form>
      
    </div>
  </div>
</div>